*
{
  padding: 0;
  margin: 0;
}
body{
    font-family: sans-serif;
}
.divider{
    display: grid;
    grid-template-columns: 300px 1fr;
}
.left{
    background-color: #0C134F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100vh;
}
.menu-bar{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
.menu-bar ul {
    list-style-type: none; 
    width: 100vw;
}
.menu-bar li {
    padding-top: 50px;
    padding-left: 100px;
    color: aliceblue;
    height: 5vh;
}
#home{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
}
#Guide{
    display: none;
    height: 100vh;
    width: 100%;
    padding-top:20% ;
    justify-content: center;
    background-color: rgb(183, 200, 215);
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
}
#Contact{
    display: none;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-top:20% ;
    background-color: rgb(204, 217, 147);
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
}
#Information{
    display: none;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-top:20% ;
    background-color: rgb(147, 217, 192);
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
}
.menu-bar li:hover {
    background-color: #313a89;
    cursor: pointer;
  }

